.speed-box{
  position: relative;
  border-radius: 20px;
  padding: 50px;
  background: #0a2639;
}
.speed-item{
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 2fr 100px 100px;
  gap: 10px;
}
.speed-item:nth-child(1){
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 10px;
}
.speed-item>div:nth-child(2), .speed-item>div:nth-child(3){
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time{
  height: 30px;
  padding: 2px 7px;
  font-size: 15px;
  background: #071a26;
  border-radius: 50px;
  text-align: center;
  display: flex;
  box-shadow: 0 0 8px rgba(56, 168, 239, 0.35);
  align-items: center;
  justify-content: center;
}
.speed-item>.time:last-child{
  background: #38a8ef ;
}

.whatGet{

}
.whatGet-wrp{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.whatGet-el{
  background: #fff;
  color: #021c27;
  padding: 20px;
  border-radius: 20px;
}
.whatGet-el ul li{
  margin-bottom: 7px;
  font-size: 15px;
}
.whatGet-el ul li:before{
  content: '';
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #226e9e;
  margin-right: 6px;
  border-radius: 50%;
}
.whatGet-tag-sec{
  background: #000;
  padding: 4px 10px;
  width: fit-content;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}
.whatGet-title{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}
.whatGet-txt{
  opacity: 0.8;
  margin-bottom: 15px;
}
.whatGet-el img {
  width: 100%;
  aspect-ratio: 16/9;
  margin-top: 10px;
}
.whatGet-tag{
  border-radius: 5px;
  background: #226e9e;
  width: fit-content;
  color: #fff;
  padding: 6px 12px;
  margin-bottom: 10px;
}
.whatGet-el:nth-child(5),
.whatGet-el:nth-child(6) {
  grid-column: span 2; /* Занимает 2 колонки */
}